body {
    font-family: "Outfit", sans-serif !important;
}

.card,
.card img,
.translateY,
.btn {
    transition: all .2s ease;
}

.card img:hover {
    opacity: 80%;
}

.card:hover,
.translateY:hover {
    transform: translateY(-5px);
}

.btn:hover {
    border-radius: 30px;
}